* {
	margin: 0;
	padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    appearance: none;
}

body {
    background-color: #202124;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

footer, nav{
    flex-shrink: 0;
}

nav {
    padding: 10px 0 0 0;
}
nav ul{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

li{
    list-style: none;
    margin: 0 10px;
}

section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section div span{
    color: rgba(245, 245, 245, 0.7);
    margin: 0px;
    font-size: 10px;
}

section div a{
    color: #8ab4f8;
    text-decoration: none;
    margin: 0px 3px;
    font-size: 10px;
}

section div a:hover{
    text-decoration-line: underline;
}

#search {
    border-radius: 20px;
    width: 400px;
    height: 35px;
    padding: 0 40px;
    font-size: 12px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    background-color: #202124;
    color: whitesmoke;
}

#search:hover{
    background-color: #505154;
    border: 1px solid rgb(80, 81, 84);
}

#search:focus{
    background-color: #505154;
    border: 1px solid #505154;
}

#s-bar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}

#s-bar img{
    position: absolute;
    height: 20px;
}
#s-icon{
    left: 20px;
}
#v-icon{
    right: 20px;
}

.s-button{
    padding: 10px 0px;
}

.button{
    margin: 5px;
    padding: 9px 15px;
    color: whitesmoke;
    background-color: #303134;
    border: 0px;
    border-radius: 5px;
    font-size: 11px;
    border: 1px solid rgb(43, 43, 43);
}

.button:hover{
    border: 1px solid #5f6368;
}

#logo {
    justify-content: center;
    padding: 10px;
}

#profile {
    display: flex;
    height: 38px;
    width: 38px;
    background-color: rgb(31, 30, 30);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#profile img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

footer div{
    background-color: #171717;
}

footer ul{
    display: flex;
    margin: 5px;
}

.footer1 {
    color: rgb(173, 173, 173);
    padding: 11px 25px;
    border-bottom:1px solid #3c4043;
}

.footer2{
    color: rgb(173, 173, 173); 
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
}

 